/* CSS  */

.product-tab1 {
  background-image: url(../../image/hompage-images/Product/Banner/product-banner-01.jpg);
}

.product-tab2 {
  background-image: url(../../image/hompage-images/Product/Banner/product-banner-02.jpg);
}

.product-tab3 {
  background-image: url(../../image/hompage-images/Product/Banner/product-banner-03.jpg);
}

.home-product-category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.product-tab1,
.product-tab2,
.product-tab3 {
  padding: 30px;
  height: 280px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  cursor: pointer;
}

.home-product-category a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 24px;
}

.home-product-category a:hover {
  color: #699c47;
  transition: color 0.3s;
}

.home-product-category h6 {
  font-size: 18px;
  margin-top: 20px;
}

.home-product-category button {
  padding: 0, 10px;
  color: black;
  border: 1px solid #699c47 !important;
  border-radius: 20px;
  height: 44px;
  width: 120px;
  background-color: hsl(53, 21%, 85%, 0.3);
}
